<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <main class="container-fluid">
      <%- include('../partials/navBar.ejs') %>   
      <!--Producto-->
      <br><br>
      <section class="row">
            <article class="col-12 col-md-6 mx-auto mt-5 producto">
                <figure class="imagenProducto">
                  <img  src="/images/motos/<%= miMoto.imagen%>" class="card-img-top w-100 d-block" alt="Moto">
                </figure> 
                <% if (miMoto.descuento == 30) { %>
                  <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                <% } else if(miMoto.descuento == 15){%>
                  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <%}%>
                <div class="card-body">
                  <h5 class="card-title"><%= miMoto.nombre%></h5>
                  <h5 class="card-title">$ <%= miMoto.precio %></h5>
                  <p class="card-text"><%= miMoto.descripcion %></p>
                  
                </div>
                <a href="/administrar" class="btn btn-danger">Volver</a>
            </article>
      </section>
    </main>
    
  </body>
</html>

