<!doctype html>
<html lang="es">
  <%- include('../partials/head'); %>
  <body>
    <div class="container-fluid">
      <%- include('../partials/navBar'); %>
      <!-- Cuerpo principal -->
      <section class="row">
          <article class="col-12  card " >
                  <div class="card-body container-fluid">
                    <h2 class="card-title card-title text-white bg-info text-center display-4 ">Iniciar Sesi칩n</h2>
                    <h4 class="card-title text-center " >Introduzca su correo y contrase침a.</h4>

                  </div>
          </article>
      </section>

      <section class="bg-home ">
            <div class="container">
                <div class="row">
                    <div class="col-8 mx-auto bg-light ">
                        <div class="signup-form">
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Correo electr칩nico" value="<%= typeof old != 'undefined' ? old.email : '' %>" >
                                    <% if(typeof(errors) != 'undefined' && errors.email){%>
                                      <span class="text-danger">
                                        <%= errors.email.msg %>
                                      </span>
                                   <%}%>
                                </div>
                                <div class="input-group mb-3">
                                  
                                  <input type="password" class="form-control js_password" placeholder="Contrase침a" name="password" aria-label="Username">
                                  
                                </div>
                                <% if(typeof(errors) != 'undefined' && errors.password){%>
                                  <span class="text-danger">
                                    <%= errors.password.msg %>
                                  </span>
                               <%}%>

                                <div class="form-group ">
                                  <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
                                </div>
                                <div class="form-group ">
                                    <button type="submit" class="btn btn btn-info">Ingresar</button>
                                </div>
                            </form>
                            <div class="text-center mb-3"><a href="/registro">Aun no poseo una cuenta</a></div>
                        </div>
                    </div>                        
                </div>
            </div>
      </section>
     
    </div> 
    </body>
</html>